extends ../loyouts/layout

block content
    .container-fluid
        main.col-12.py-5.pl-4.bd-content
            h2= title
            div!= body

block side-bar
    .sidebar-heading
        a.navbar-brand
            img(src="/images/logo.png" width="30" height="30" alt="")
            |   Cimm kpfu
    .list-group.list-group-flush
        each item in menu
            a.list-group-item.list-group-item-action(href=routePrefix + item.url)=item.title

block nav-bar
    nav.navbar.navbar-dark.bg-primary
        button#menu-toggle.btn
            span.navbar-toggler-icon
        form.form-inline
            if auth
                a.btn.btn-primary(href=routePrefix + '/profile', role='button', aria-pressed='true') Profile
                a.btn.btn-primary(href=routePrefix + insideRoutes.thesis.list) Thesis

                a.btn.btn-primary(href=routePrefix + '/logout', role='button', aria-pressed='true') Logout
            else
                a.btn.btn-primary(href=routePrefix + '/registration', role='button', aria-pressed='true') Registration
                a.btn.btn-primary(href=routePrefix + '/login', role='button', aria-pressed='true') Login
